{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">This sign-in link has expired</h1>

      <p class="govuk-body">
        Sign-in links work once and expire after 15 minutes.
      </p>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/sign-in">Request a new sign-in link</a>
      </p>
    </div>
  </div>
{% endblock %}
