{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in is not available yet</h1>

      <p class="govuk-body">
        Design help is being set up and signing in has not been switched on. Check back soon.
      </p>
      <p class="govuk-body">
        In the meantime you can read <a class="govuk-link govuk-link--no-visited-state" href="/about">about Design help</a> and
        <a class="govuk-link govuk-link--no-visited-state" href="/how-it-has-been-built">how it has been built</a>.
      </p>
    </div>
  </div>
{% endblock %}
